* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orqa {
  height: 100vh;
  width: 100vw;
  margin-top: -20px;
}


.header {
  width: 100vw;
  height: 100vh;
  padding: 60px;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.back{
 width: 100vw;
 height: 100vh;

}

.logo {
  margin-top: 25px;
  padding-right: 55%;
}

.navbar {
  width: 100%;
  height: 100px;
  padding-right: 90px;
}

.items { 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  gap: 50px;
  list-style: none;
}

.itemm {
  padding-top: 10px;
}

.button {
  width: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #c99800;
  border: none;
}

.conteiner {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

.h1 {
  display: flex;
  align-items: center;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  width: 30%;
  height: 50px;
}

.paragraf {
  padding-top: 70px;
  width: 30%;
  height: 60px;
}

.img {
  width: 150px;
  height: 150px;
}

.player {
  display: flex;
  align-items: center;
  list-style:;
}

.div {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.rasm {
  display: flex;
  align-items: flex-end;
  padding-top: 100px;
  padding: -60px;
}
.last {
  display: flex;
  align-items: center;
  gap: 300%;
  
}
