* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .orqa {
  height: 100vh;
  width: 100vw;
  margin-top: -20px;
} */

.header {
  width: 100vw;
  height: 100vh;
  padding: 60px 120px;
  position: relative;
}

.hero--background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}

.logo {
  width: 180px;
  height: 30px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 54px;
  align-items: center;
}

.list__item {
  font-size: 20px;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  background-color: #c99800;
  border: none;
  padding: 18px 32px;
  color: #fff;
  font-size: 16px;
}

.section--hero {
  height: 90%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__text-box {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-box__title {
  /* font-size: 62px; */
  font-size: 90px;
}

.text-box__description {
  font-size: 24px;
  width: 70%;
}

.play__btn,
.play__btn:link,
.play__btn:visited {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.play__img {
  /* width: 80px; */
}

.play__text {
  font-size: 22px;
  text-decoration: underline;
}

.hero--imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  column-gap: 24px;
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: -1;
  opacity: 0.9;
}

.hero--imgs__img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pagination span {
  font-size: 44px;
  color: #fff;
}

/* .navbar {
  width: 100%;
  height: 100px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  gap: 50px;
  list-style: none;
}

.itemm {
  padding-top: 10px;
}

.button {
  width: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #c99800;
  border: none;
}

.conteiner {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

.h1 {
  display: flex;
  align-items: center;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  width: 30%;
  height: 50px;
}

.paragraf {
  padding-top: 70px;
  width: 30%;
  height: 60px;
}

.img {
  width: 150px;
  height: 150px;
}

.player {
  display: flex;
  align-items: center;
}

.div {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.rasm {
  display: flex;
  align-items: flex-end;
  padding-top: 85px;
  padding: -60px;
}
.last {
  display: flex;
  align-items: center;
  gap: 300%;
}

.about {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
}

.two--sec {
  width: 40%;
  height: 100px;
  display: flex;
  align-items: center;
}

.type {
  width: 100px;
  height: 50px;
  background-color: #c99800;
}

.text {
  width: 600px;
}

.about--rasm {
  display: flex;
  align-items: center;
  justify-content: end;
}

.palma {
  width: 20%;
  height: 50px;
  background-color: blue;
}

.palma--two {
  width: 20%;
  height: 50px;
  background-color: rgb(18, 18, 49);
} */

/* media for 1440 */
@media screen and (max-width: 1440px) {
  .header {
    padding: 60px 80px;
  }

  .section--hero {
    padding-top: 100px;
  }

  .text-box__title {
    font-size: 62px;
  }

  .text-box__description {
    font-size: 20px;
  }

  .play__text {
    font-size: 18px;
  }

  .hero--imgs {
    width: 60%;
    left: -5%;
  }

  .hero--imgs__img {
    height: 200px;
  }

  .pagination span {
    font-size: 36px;
  }

  .pagination {
    padding-bottom: 20px;
  }
}
