* {
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  height: 150vh;
  background-image: url(./images/bg.png);
  justify-content: center;
  margin-left: 500px;
}

.nav {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: rgb(26, 20, 20);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sign {
  width: 100px;
  height: 40px;
  background-color: rgb(201, 152, 0);
  color: #ffff;
}
